<!DOCTYPE html>
<html lang="en">
{%load static %}

<head>
  <style>
    .a {
      color: wheat;
      text-decoration: none;
    }

    /* testing git */
    #containerclearfix {
      height: 100px;
      width: 100%;
      background-color: aqua;
    }

    a:hover {
      background-color: red;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TMBU-Libaray Management System</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<main>

  <body>



    <header id="header" class="bg-dark">
      <div id="header_top">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 logo_block">
              <div class="main_block">
                <a href="#" class="d-inline-block">
                  <img src="../static/images/tmbu_logo.png" alt="logo">
                </a>
              </div>
            </div>
            <div class="col-lg-5 col-md-6 search_block">
              <div class="main_block">
                <div class="search_bar_posts">
                  <form role="search" method="get" class="search-form">
                    <div class="form-group">

                      <input type="search" id="search-form-1" class="search-field form-control"
                        placeholder="Enter Your Search..." value="" name="s" />
                      <button type="submit" class="btn btn_custom search-submit"><i
                          class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-3 header_right">
              <div class="main_block">
                <ul class="phn_log justify-content-end">
                  <li class="phone"><a href="tel:+91-641-262 0353"><i class="fa-solid fa-phone"></i> +91-641-262
                      0353</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>



      <div class="container-fluid">
        <div class="row bg-danger text-light p-2">
          <div class="col-sm-4" style="text-align:center">
            <Contact:7453994679>
          </div>
          <div class="col-sm-4" style="text-align:center">Email </div>
          <div class="col-sm-4" style="text-align:center">Follow us&nbsp;&nbsp;&nbsp;

            <a href="#"><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="#"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="#"><i class="fab fa-google-plus-g"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <!--Nav Start-->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">GGP Moradabad</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link active" aria-current="page"
                  href="{% url 'lmsapp:index' %}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'lmsapp:aboutus' %}">About Us</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'lmsapp:registration' %}">Registration</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'lmsapp:login' %}">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'lmsapp:contactus' %}">Contact Us</a></li>

            </ul>

            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <!--Nav End-->
      <div>
        <marquee behavior="alternate" style="background-color: red;" class="text-light" scrollamount="10"
          onmouseover="stop()" onmouseout="start()">
          Girls Government Polytechnic Moradabad
        </marquee>

      </div>

      <!-- row Div start -->

      <div class="col-sm-12"
        style="background-color: aliceblue;min-height: 600px; background-image: url(../static/images/background.jpg);background-size: cover; width: 100%;">
        {% block main %}

        {% endblock main %}
      </div>
</main>

<!-- End Posts -->

<div class="container-fluid bg-dark text-light">
  <div class="row">
    <div class="col-lg-3 footer-about text-center">
      <a href="#">
        <img src="static/images/logo.jpeg" style="border-radius: 125px; height: 100px;" alt="footer_logo"></a>
      <p class="text-justify">
      </p>
    </div>

    <!--Important Links Start-->
    <div class="col-lg-3 my-useful">
      <h3>Important Links</h3>
      <ul>
        <li><a href="#" class="a">National Academic Depository (NAD)</a></li>
        <li><a href="#" class="a">SWAYAM Portal</a></li>
        <li><a href="#" class="a">e-PG Pathshala</a></li>
        <li><a href="#" class="a">Spoken Tutorial</a></li>
        <li><a href="#" class="a">Ministry of Human Resource Development (MHRD)</a></li>
        <li><a href="#" class="a">University Grants Commission (UGC)</a></li>
        <li><a href="#" class="a">Government of Bihar</a></li>
        <li><a href="#" class="a">Government of India Web Directory</a></li>
        <li><a href="#" class="a">National Scholarship Portal</a></li>
        <li><a href="#" class="a">All India Council for Technical Education (AICTE)</a></li>
        <li><a href="#" class="a">National Knowledge Network (NKN)</a></li>
        <li><a href="#" class="a">All India Survey on Higher Education (AISHE)</a></li>
        <li><a href="#" class="a">National Council For Teacher Education (NCTE)</a></li>
      </ul>
    </div>
    <!--Important Link End-->


    <!--contact Start-->
    <div class="col-lg-3 con-info">
      <h3 class="widget_title">Contact Us</h3>
      <ul class="contact_list">
        <li><a href="#" class="a"><b>Tilka Manjhi Bhagalpur University</b> <br />Bhagalpur, Bihar, PIN-812007</a></li>
        <li><a href="#" class="a">registrar@tmbuniv.ac.in</a></li>
        <li><a href="#" class="a">registrartmbu07@gmail.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true">Location</i></a></li>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7217.490618372036!2d86.9519085380717!3d25.24550196486829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f04a742f137b4f%3A0xf7ae40a61d2c0a46!2sTilka%20Manjhi%20Bhagalpur%20University!5e0!3m2!1sen!2sin!4v1694344481515!5m2!1sen!2sin"
          width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </ul><br>


    </div>

    <!--end contact-->
    <div class="col-lg-3 footer_search">
      <div class="main_block">
        <div class="sect_head">
          <span class="sect_subtitle">
            <h1>Announcement</h1>
          </span>
          <h3 class="sect_title">Latest Announcement</h3>


          <ul id="menu-announcement-1">
            <li><a href="#" class="a">Download admit card of MCA 2023</a></li>
            <li><a href="#" class="a">UG Vacant seat (2023-2027)</a></li>
            <li><a href="#" class="a">Admit card of UG part 1 (Examination 2023)</a></li>
            <li><a href="#" class="a">PG vacant seat (2022-2024)</a></li>
            <li><a href="#" class="a">PG 2nd merit list of Arts (2022-2024)</a></li>
            <li><a href="#" class="a">PG 2nd merit list of Science (2022-2024)</a></li>
            <li><a href="#" class="a">PG 2nd merit list of Commerce (2022-2024)</a></li>
            <li><a href="#" class="a">UG 2nd merit list of Arts (2023-2027)</a></li>
            <li><a href="#" class="a">UG 2nd merit list of Commerce (2023-2027)</a></li>
            <li><a href="#" class="a">UG 2nd merit list of Science (2023-2027)</a></li>
          </ul>
        </div>
        <div class="main_block">
          <h3 class="widget_title">Search For Posts</h3>

          <div class="search_bar_posts">
            <form role="search" method="get" class="search-form">

              <input type="search" id="search-form-2" class="search-field form-control"
                placeholder="Enter Your Search..." value="" name="s" />
              <button type="submit" class="btn btn_custom search-submit"><i
                  class="fa-solid fa-magnifying-glass"></i></button>
              <div class="form-group">

              </div>
          </div>
          <!--footer end-->
        </div>
        </body>

</html>